.grass-basic{
    background-color: #198038;
}

.grass{
    background:
    radial-gradient(#198038 15%, transparent 36%) 1px 1px,
    radial-gradient(#044317 15%, transparent 40%) 1px 1px;
    background-color: #198038;
    background-size: 15px 5px;
}
