.water-basic{
    background-color: var(--water-dark);
}

.water{
    background: radial-gradient(at bottom right, #50808e 0, #50808e 2.5px, rgba(80,128,142,0.2) 2.5px, rgba(80,128,142,0.2) 5px, rgba(80,128,142,0.75) 5px, rgba(80,128,142,0.75) 7.5px, rgba(80,128,142,0.25) 7.5px, rgba(80,128,142,0.25) 10px, rgba(80,128,142,0.3) 10px, rgba(80,128,142,0.3) 12.5px, rgba(80,128,142,0.75) 12.5px, rgba(80,128,142,0.75) 15px, rgba(80,128,142,0.2) 15px, rgba(80,128,142,0.2) 17.5px, transparent 17.5px, transparent 20px), radial-gradient(at top left, transparent 0, transparent 2.5px, rgba(80,128,142,0.2) 2.5px, rgba(80,128,142,0.2) 5px, rgba(80,128,142,0.75) 5px, rgba(80,128,142,0.75) 7.5px, rgba(80,128,142,0.3) 7.5px, rgba(80,128,142,0.3) 10px, rgba(80,128,142,0.25) 10px, rgba(80,128,142,0.25) 12.5px, rgba(80,128,142,0.75) 12.5px, rgba(80,128,142,0.75) 15px, rgba(80,128,142,0.2) 15px, rgba(80,128,142,0.2) 17.5px, #50808e 17.5px, #50808e 20px, transparent 20px, transparent 50px);
    background-blend-mode: multiply;
    background-size: 20px 20px, 20px 20px;
    background-color: #354b5c;
}