input{
    border-bottom: 1px solid rgb(154, 154, 154);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: aliceblue;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    cursor: default;
}