@import url("./palette.css");

@import url("./system/font.css");
@import url("./system/button.css");
@import url("./system/input.css");
@import url("./system/modal.css");
@import url("./system/snackbar.css");
@import url("./system/switch.css");
@import url("./system/form.css");
@import url("./system/select.css");
@import url("./system/tabs.css");

@import url("./loading.css");

@import url("./hero/hero-down.css");

@import url("./nature/grass.css");
@import url("./nature/water.css");
@import url("./nature/dirt.css");

@import url("./nature/trees/srublory.css");

@import url("./tools/tool-icons.css");


body{
    padding: 0px;
    margin: 0px;
}

.container{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-image: url("../images/splash.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    display: inline-block; 
    position: absolute; 
    bottom: 20px; 
    right: 50px;   
}

.footer-box{
    display: inline-block; 
    color: white; 
    margin: 5px; 
    cursor: pointer; 
    font-size: small;
}

.page-container{
    display: inline-block;
    margin-top: 10%;
    width: 80%;
}

.white-block{
    display: inline-block;
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
}

.game-window{
    display: inline-block;
    width: 770px;
    height: 770px;
    background-color: white;
    margin-top: 7%;
    border: 1px solid black;
    overflow: hidden;
    padding: 0;
}

.toolbar{
   display: inline-block; 
   position: relative;
   width: 770px;
   bottom: 100px;
   height: 85px;
   left: 5px;
   z-index: 10000;
   text-align: left;
}

fieldset{
    border: 1px solid rgb(154, 154, 154);
    border-radius: 5px;
}

legend{
    font-size: medium;
}

.grid-square{
    width: 70px;
    height: 70px;
    text-align: center;
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0;
}

.toolbar-icon{
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.16);
}

.toolbar-icon-selected{
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.16);
    position: relative;
    top: -10px;
}

.menu{
    display: inline-block; 
    position: relative;
    visibility: hidden;
    width: 770px;
    top: -866px;
    left: 34px;
    height: 674px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 10000;
 }