@import url("palette.css");
@import url("./system/font.css");
@import url("./system/button.css");
@import url("./system/input.css");
@import url("./system/modal.css");
@import url("./system/snackbar.css");
@import url("./system/switch.css");
@import url("./system/form.css");
@import url("./system/select.css");
@import url("loading.css");
@import url("./hero/hero-down.css");


body{
    padding: 0px;
    margin: 0px;
}

.container{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-image: url("../images/splash.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    display: inline-block; 
    position: absolute; 
    bottom: 20px; 
    right: 50px;   
}

.footer-box{
    display: inline-block; 
    color: white; 
    margin: 5px; 
    cursor: pointer; 
    font-size: small;
}

.page-container{
    display: inline-block;
    margin-top: 10%;
    width: 80%;
}

.white-block{
    display: inline-block;
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
}

.game-window{
    display: inline-block;
    width: 700px;
    height: 700px;
    background-color: white;
    margin-top: 7%;
    border: 1px solid black;
}

fieldset{
    border: 1px solid rgb(154, 154, 154);
    border-radius: 5px;
}

legend{
    font-size: medium;
}