:root{
    --pal-1: #333F4C;
    --pal-2: #89AEA5;
    
    --pal-4: #323532;
    --pal-8: #487276;

    --heading: #5A3C36;
    --content: #826445;

    --heading-fade: rgba(90, 60, 54, .3);

    --button: #7C4534;
    --button-alt: #C67B4D;

    --message: #412526;

    --black: #20201F;
    --white: #ffffff;
    --gray: #cccccc;
}










